.chart-carga-container {
  position: relative;
  width: 50%;
}

.chart-carga-container canvas{
  position: relative;
}

@media only screen and (max-width: 880px) {
    .chart-carga-container {
        width: 100%;
      }
}
