.printer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(12, 12, 12, 0.383);
}

.printer-timers label{
    margin: 20px;
    font-size: 1.4rem;
}
