.buttonsNavigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonsNavigation a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding: 15px;
  font-size: 1.7vw;
  width: 14vw;
  text-decoration: none;
}