.buttonsNavigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonsNavigation a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  padding: 10px;

  font-size: 1.5vw;
  width: 12vw;
  text-decoration: none;
}