.report {
  height: 80%;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 0px 10px;
}

.chart-report {
  position: relative;
  margin: auto;
  height: 35vh;
  width: 90vw;
}

.report-table-info {
  margin-top: 20px;
  width: 90vw;
}