.table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table table {
  width: 90%;
}

.table table thead {
  text-align: center;
}

.table table tbody {
  text-align: center;
}

.table table tbody tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.137);
}

.table table tbody .td {
  display: flex;
  margin: 5px;
  font-size: 1.2rem;
}

.table-buttons {
  width: 90%;
  display: flex;
  justify-content: center;
  margin: 5px;
}
.table-buttons button {
  background-color: rgba(251, 251, 251, 0.568);
  width: 10%;
  margin: 5px;
  padding: 3px;
  font-size: 1.8vw;
  border-radius: 10px;
  border: 0;
  outline: none;
}

.table .button-report {
  width: 50%;
  height: 3vw;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table-charts {
  display: flex;
}
.table-chart {
  position: relative;
  height: 25vh;
  width: 22vw;
}
