.boxinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 10px;
  width: 100%;

  font-size: 2.2vw;

  background-color: rgba(209, 220, 230, 0.239);
}

.min-max {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  width: 100%;
}

.min-max div{
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
