.form-prescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-prescription-inputs {
  display: flex;
  flex-direction: column;
}

.form-prescription-input {
  margin: 8px;
}

.form-prescription-navigation {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-prescription-navigation div {
  width: 100%;
  text-align: center;
}