.table-Info table {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: solid 1px #fff;
}

.table-Info table thead th {
  width: 25%;
  font-size: 1.9vw;
}

.table-Info table tbody td {
  width: 25%;
  font-size: 1.9vw;
}
