.grid-container {
  height: 90vh;
  display: grid;
  grid-template-rows: 30px 1fr;

  overflow: scroll;
}

.grid-container::-webkit-scrollbar {
  display: none;
}

.main-footer {
  position: fixed;
  bottom: -7px;
  width: 100%;
  margin: 5px auto;
  padding: 5px;
  box-shadow: 0 0 5px 0px rgba(255, 255, 255, 0.417);
}