* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  text-decoration: none;
  list-style: none;
}

body {
  height: 100%;
  background-color: rgb(41, 39, 42);
  color: aliceblue;
  overflow: hidden;
}
